body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main {
  margin: 0px;
}

.nav {
  display: flex;
  vertical-align: middle;
  width: 100%;
  /* flex-direction: row-reverse; */
}

.nav-links-container {
  display: flex;
  width: 100%;
}

.nav-links {
  padding-left: 15px;
  margin-top: 28px;
  text-decoration: none;
  font-size: 18px;
}

.nav-links:link {
  color: black;
}

.nav-links:visited {
  color: rgb(78, 78, 78);
}

.content {
  text-align: center;
}

.banner-image {
  width: 800px;
  height: 450px;
  border: 3px solid white;
  border-radius: 16px;
  margin-left: 400px;
}
.description-text {
  font-size: 24px;
  text-align: left;
  margin-left: 400px;
}
.room-description {
  /* width: 800px; */
  font-size: 18px;
  text-align: justify;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 25%;
  padding-right: 25%;
  color: rgb(99, 99, 99);
}

.banner {
  display: flex;
}

.price-div {
  /* width: 800px; */
  font-size: 18px;
  text-align: justify;
  color: rgb(99, 99, 99);
  border: 1px solid rgb(155, 155, 155);
  border-radius: 8px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  margin-left: 50px;
  box-shadow: 0px 0px 10px rgb(155, 155, 155);
}

.book-button {
  background-color: rgb(255, 145, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 200px;
  height: 50px;
  border: 1px double rgb(255, 125, 19);
}

.book-button:active {
  background-color: rgba(255, 182, 87, 0.99);
}

.navigation {
  display: flex;
  text-align: center;
  justify-content: right;
  padding-bottom: 10px;
  margin-bottom: 5px;
  width: 100%;
}
.navi-wrapper {
  /* margin-right: 100px; */
  float: right;
  margin-left: 1000px;
}
.navigation a {
  position: relative;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  font-weight: 450;
  margin-left: 40px;
  top: 5px;
  text-align: center;
  /* margin-top: 100px; */
  /* padding-top: 10px; */
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 120px;
  height: 50px;
  background: transparent;
  border: 3px solid black;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  margin-left: 40px;
  transition: 0.5s;
}
.navigation .btnLogin-popup:hover {
  background: white;
  color: black;
}
